USE [master]
GO
/****** Object:  Database [DB_Test]    Script Date: 10/8/2023 14:21:54 ******/
CREATE DATABASE [DB_Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_Test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_Test_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Test]
GO
/****** Object:  FullTextCatalog [cat-buscar]    Script Date: 10/8/2023 14:21:54 ******/
CREATE FULLTEXT CATALOG [cat-buscar] WITH ACCENT_SENSITIVITY = OFF
GO
/****** Object:  Table [dbo].[tb_tareas]    Script Date: 10/8/2023 14:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_tareas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[DescripcionTarea] [varchar](250) NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaModificacion] [datetime] NOT NULL,
	[Prioridad] [varchar](50) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_tareas] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[tb_tareas] ADD  DEFAULT (getdate()) FOR [FechaModificacion]
GO
USE [master]
GO
