<div class="d-flex justify-content-end fixed-top m-5">
  <button
    type="button"
    class="btn btn-primary round-button p-1"
    data-bs-toggle="modal"
    data-bs-target="#addTaskModal"
    (click)="addTask()"
  >
    <i class="fs-4 fa-solid fa-plus"></i>
  </button>
</div>

<!-- Modal para agregar tarea -->
<div
  class="modal fade"
  id="addTaskModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <!-- Contenido de la modal aquí -->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTaskModalLabel">
          {{ isEditar ? "Editar Tarea" : "Agregar Tarea" }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Formulario para agregar tarea -->
        <form [formGroup]="taskForm" (change)="cleanError()">
          <div class="form-group mb-3">
            <input
              placeholder="Escriba el nombre de la tarea"
              type="text"
              class="form-control"
              id="taskNombre"
              formControlName="nombre"
            />
          </div>
          <div class="form-group mb-3">
            <input
              placeholder="Describa la tarea"
              type="text"
              class="form-control"
              id="taskDescripcion"
              formControlName="descripcion"
            />
          </div>
          <div class="form-group mb-3">
            <label for="taskPrioridad">Prioridad</label>
            <select
              class="form-control"
              id="taskPrioridad"
              formControlName="prioridad"
            >
              <option value="Alta">Alta</option>
              <option value="Media">Media</option>
              <option value="Baja">Baja</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <p *ngIf="isErrorForm" class="text-warning">
          *Debe de llenar todos los campos
        </p>
        <div>
          <button
            type="button"
            class="btn btn-secondary me-2"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button type="button" (click)="addTaskForm()" class="btn btn-primary">
            Guardar Tarea
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
